.background\3A black    { background: var(--black   ); }
.background\3A white    { background: var(--white   ); }
.background\3A grey-1   { background: var(--grey-1  ); }
.background\3A grey-2   { background: var(--grey-2  ); }
.background\3A grey-3   { background: var(--grey-3  ); }
.background\3A grey-4   { background: var(--grey-4  ); }
.background\3A grey-5   { background: var(--grey-5  ); }
.background\3A grey-6   { background: var(--grey-6  ); }
.background\3A grey-7   { background: var(--grey-7  ); }
.background\3A red-1    { background: var(--red-1   ); }
.background\3A red-2    { background: var(--red-2   ); }
.background\3A red-3    { background: var(--red-3   ); }
.background\3A red-4    { background: var(--red-4   ); }
.background\3A red-5    { background: var(--red-5   ); }
.background\3A red-6    { background: var(--red-6   ); }
.background\3A red-7    { background: var(--red-7   ); }
.background\3A orange-1 { background: var(--orange-1); }
.background\3A orange-2 { background: var(--orange-2); }
.background\3A orange-3 { background: var(--orange-3); }
.background\3A orange-4 { background: var(--orange-4); }
.background\3A orange-5 { background: var(--orange-5); }
.background\3A orange-6 { background: var(--orange-6); }
.background\3A orange-7 { background: var(--orange-7); }
.background\3A yellow-1 { background: var(--yellow-1); }
.background\3A yellow-2 { background: var(--yellow-2); }
.background\3A yellow-3 { background: var(--yellow-3); }
.background\3A yellow-4 { background: var(--yellow-4); }
.background\3A yellow-5 { background: var(--yellow-5); }
.background\3A yellow-6 { background: var(--yellow-6); }
.background\3A yellow-7 { background: var(--yellow-7); }
.background\3A green-1  { background: var(--green-1 ); }
.background\3A green-2  { background: var(--green-2 ); }
.background\3A green-3  { background: var(--green-3 ); }
.background\3A green-4  { background: var(--green-4 ); }
.background\3A green-5  { background: var(--green-5 ); }
.background\3A green-6  { background: var(--green-6 ); }
.background\3A green-7  { background: var(--green-7 ); }
.background\3A teal-1   { background: var(--teal-1  ); }
.background\3A teal-2   { background: var(--teal-2  ); }
.background\3A teal-3   { background: var(--teal-3  ); }
.background\3A teal-4   { background: var(--teal-4  ); }
.background\3A teal-5   { background: var(--teal-5  ); }
.background\3A teal-6   { background: var(--teal-6  ); }
.background\3A teal-7   { background: var(--teal-7  ); }
.background\3A blue-1   { background: var(--blue-1  ); }
.background\3A blue-2   { background: var(--blue-2  ); }
.background\3A blue-3   { background: var(--blue-3  ); }
.background\3A blue-4   { background: var(--blue-4  ); }
.background\3A blue-5   { background: var(--blue-5  ); }
.background\3A blue-6   { background: var(--blue-6  ); }
.background\3A blue-7   { background: var(--blue-7  ); }
.background\3A indigo-1 { background: var(--indigo-1); }
.background\3A indigo-2 { background: var(--indigo-2); }
.background\3A indigo-3 { background: var(--indigo-3); }
.background\3A indigo-4 { background: var(--indigo-4); }
.background\3A indigo-5 { background: var(--indigo-5); }
.background\3A indigo-6 { background: var(--indigo-6); }
.background\3A indigo-7 { background: var(--indigo-7); }
.background\3A purple-1 { background: var(--purple-1); }
.background\3A purple-2 { background: var(--purple-2); }
.background\3A purple-3 { background: var(--purple-3); }
.background\3A purple-4 { background: var(--purple-4); }
.background\3A purple-5 { background: var(--purple-5); }
.background\3A purple-6 { background: var(--purple-6); }
.background\3A purple-7 { background: var(--purple-7); }
.background\3A pink-1   { background: var(--pink-1  ); }
.background\3A pink-2   { background: var(--pink-2  ); }
.background\3A pink-3   { background: var(--pink-3  ); }
.background\3A pink-4   { background: var(--pink-4  ); }
.background\3A pink-5   { background: var(--pink-5  ); }
.background\3A pink-6   { background: var(--pink-6  ); }
.background\3A pink-7   { background: var(--pink-7  ); }