:root {
	--black    : #000000;
	--white    : #FFFFFF;
	--grey-1   : #3D4852;
	--grey-2   : #606F7B;
	--grey-3   : #8795A1;
	--grey-4   : #B8C2CC;
	--grey-5   : #DAE1E7;
	--grey-6   : #F1F5F8;
	--grey-7   : #F8FAFC;
	--red-1    : #3B0D0C;
	--red-2    : #621B18;
	--red-3    : #CC1F1A;
	--red-4    : #E3342F;
	--red-5    : #EF5753;
	--red-6    : #F9ACAA;
	--red-7    : #FCEBEA;
	--orange-1 : #462A16;
	--orange-2 : #613B1F;
	--orange-3 : #DE751F;
	--orange-4 : #F6993F;
	--orange-5 : #FAAD63;
	--orange-6 : #FCD9B6;
	--orange-7 : #FFF5EB;
	--yellow-1 : #453411;
	--yellow-2 : #684F1D;
	--yellow-3 : #F2D024;
	--yellow-4 : #FFED4A;
	--yellow-5 : #FFF382;
	--yellow-6 : #FFF9C2;
	--yellow-7 : #FCFBEB;
	--green-1  : #0F2F21;
	--green-2  : #1A4731;
	--green-3  : #1F9D55;
	--green-4  : #38C172;
	--green-5  : #51D88A;
	--green-6  : #A2F5BF;
	--green-7  : #E3FCEC;
	--teal-1   : #0D3331;
	--teal-2   : #20504F;
	--teal-3   : #38A89D;
	--teal-4   : #4DC0B5;
	--teal-5   : #64D5CA;
	--teal-6   : #A0F0ED;
	--teal-7   : #E8FFFE;
	--blue-1   : #12283A;
	--blue-2   : #1C3D5A;
	--blue-3   : #2779BD;
	--blue-4   : #3490DC;
	--blue-5   : #6CB2EB;
	--blue-6   : #BCDEFA;
	--blue-7   : #EFF8FF;
	--indigo-1 : #191E38;
	--indigo-2 : #2F365F;
	--indigo-3 : #5661B3;
	--indigo-4 : #6574CD;
	--indigo-5 : #7886D7;
	--indigo-6 : #B2B7FF;
	--indigo-7 : #E6E8FF;
	--purple-1 : #21183C;
	--purple-2 : #382B5F;
	--purple-3 : #794ACF;
	--purple-4 : #9561E2;
	--purple-5 : #A779E9;
	--purple-6 : #D6BBFC;
	--purple-7 : #F3EBFF;
	--pink-1   : #451225;
	--pink-2   : #6F213F;
	--pink-3   : #EB5286;
	--pink-4   : #F66D9B;
	--pink-5   : #FA7EA8;
	--pink-6   : #FFBBCA;
	--pink-7   : #FFEBEF;
}