.font-weight\3A 100, .\31 00 { font-weight: 100; }
.font-weight\3A 200, .\32 00 { font-weight: 200; }
.font-weight\3A 300, .\33 00 { font-weight: 300; }
.font-weight\3A 400, .\34 00 { font-weight: 400; }
.font-weight\3A 500, .\35 00 { font-weight: 500; }
.font-weight\3A 600, .\36 00 { font-weight: 600; }
.font-weight\3A 700, .\37 00 { font-weight: 700; }
.font-weight\3A 800, .\38 00 { font-weight: 800; }
.font-weight\3A 900, .\39 00 { font-weight: 900; }